{
  "env": {
    "shared-node-browser": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script"
  },
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "no-var": 0,
    "object-shorthand": 0,
    "quotes": [
      2, "single"
    ],
    "prefer-template": 0,
    "space-before-function-paren": [
      2, "never"
    ],
    "semi": 0,
    "strict": 0,
    "prefer-spread": 0,
    "no-underscore-dangle": 0
  },
  "overrides": [
    {
      "files": ["migrations/*"],
      "rules": {
        "no-undef": "off"
      }
    },
    {
      "files": ["truffle-config.js"],
      "rules": {
        "indent": "off",
        "no-multi-spaces": "off",
        "quotes": "off"
      }
    },
    {
      "files": ["test/*"],
      "rules": {
        "no-unused-expressions": "off",
        "no-undef": "off"
      }
    }
  ]
}
